$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

@font-face {
  font-family: 'Allura'; 
  src: url('/Allura-Regular.otf'); 
  font-weight: normal;  
  font-style: normal;  
}